In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')

# Q4

In [19]:
#Looking for top answers 
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2021  1517.016266              NaN
1     Afghanistan  2020  1968.341002              NaN
2     Afghanistan  2019  2079.921861              NaN
3     Afghanistan  2018  2060.698973              NaN
4     Afghanistan  2017  2096.093111              NaN

In [22]:
# looking at bottom 5
gdp_df.tail()

     Country or Area  Year        Value  Value Footnotes
7657        Zimbabwe  1994  2670.106615              NaN
7658        Zimbabwe  1993  2458.783255              NaN
7659        Zimbabwe  1992  2468.278257              NaN
7660        Zimbabwe  1991  2781.787843              NaN
7661        Zimbabwe  1990  2704.757299              NaN

# Q5

In [30]:
# How many rows and columns are in gdp_df? 
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7662 entries, 0 to 7661
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  7662 non-null   object
 1   Year             7662 non-null   int64
 2   Value            7662 non-null   float64
 3   Value Footnotes  0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 239.6+ KB

## answer:  7662 rows; 4 columns

In [32]:
#What are the data types of each column?

## answer: object, int64, float64, float64

## Q6

In [36]:
#Drop the Value Footnotes column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [53]:
gdp_df_column =gdp_df.drop('Value Footnotes', axis=1)

In [56]:
gdp_df_table = gdp_df_column.rename(columns={'Country or Area': 'Country', 'Value': 'GDP_Per_Capita'})

## answer:

In [58]:
print(gdp_df_table)

          Country  Year  GDP_Per_Capita
0     Afghanistan  2021     1517.016266
1     Afghanistan  2020     1968.341002
2     Afghanistan  2019     2079.921861
3     Afghanistan  2018     2060.698973
4     Afghanistan  2017     2096.093111
...           ...   ...             ...
7657     Zimbabwe  1994     2670.106615
7658     Zimbabwe  1993     2458.783255
7659     Zimbabwe  1992     2468.278257
7660     Zimbabwe  1991     2781.787843
7661     Zimbabwe  1990     2704.757299

[7662 rows x 3 columns]

## Q7

In [59]:
#How many countries have data for all years? Which countries are missing many years of data? 
#Look at the number of observations per year. What do you notice?
count() group by

Country           7662
Year              7662
GDP_Per_Capita    7662
dtype: int64